<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BandiBot</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class ="chat-window">
            <h1>BandiBots</h1>
            <div class ="conversation-view">
                Test
            </div>
            <div class ="message-box">
                <input id = "text-input" type = "text" placeholder ="질문을 입력하세요."/>                  
                <button id = "btn">Send</button>
            </div>
        </div>
    </body>
</html>